{{ partial "header.html" . }}

<div class="header">
  <h1>{{ .Title }}</h1>
  <h2>{{ .Site.Params.subtitle }}</h2>
  <p>
    <a href="https://packagist.org/packages/facile-it/paraunit"><img src="https://poser.pugx.org/facile-it/paraunit/version.svg" style="max-width:100%;"></a>
    <a href="https://packagist.org/packages/facile-it/paraunit"><img src="https://poser.pugx.org/facile-it/paraunit/v/unstable.svg" style="max-width:100%;"></a>
    <a href="https://travis-ci.org/facile-it/paraunit"><img src="https://travis-ci.org/facile-it/paraunit.svg" style="max-width:100%;"></a>
    <a href="https://coveralls.io/github/facile-it/paraunit?branch=master"><img src="https://coveralls.io/repos/facile-it/paraunit/badge.svg?branch=master&amp;service=github" style="max-width:100%;"></a>
    <a href="https://scrutinizer-ci.com/g/facile-it/paraunit/?branch=master"><img src="https://scrutinizer-ci.com/g/facile-it/paraunit/badges/quality-score.png?b=master" style="max-width:100%;"></a>
    <a href="https://codeclimate.com/github/facile-it/paraunit"><img src="https://codeclimate.com/github/facile-it/paraunit/badges/gpa.svg" style="max-width:100%;"></a>
    <a href="https://insight.sensiolabs.com/projects/6571b482-6e1d-4e0c-b215-94d757909b20"><img src="https://insight.sensiolabs.com/projects/6571b482-6e1d-4e0c-b215-94d757909b20/mini.png" style="max-width:100%;"></a>
  </p>
</div>

<div class="content">

  {{ range ( .Paginate (where .Data.Pages "Type" "news")).Pages }}
    {{ .Render "summary"}}
  {{ end }}

  {{ partial "pagination.html" . }}

</div>

{{ partial "footer.html" . }}
