{{ partial "header.html" . }}

<div class="header">
  <h1>{{ .Title }}</h1>
  <h2>{{ .Site.Params.subtitle }}</h2>
  <p>
    <a href="https://packagist.org/packages/facile-it/paraunit">
      <img alt="Stable version" src="https://poser.pugx.org/facile-it/paraunit/version.svg" style="max-width:100%;">
    </a>
    <a href="https://packagist.org/packages/facile-it/paraunit">
      <img alt="Unstable version" src="https://poser.pugx.org/facile-it/paraunit/v/unstable.svg" style="max-width:100%;">
    </a>
    <a href="https://travis-ci.org/facile-it/paraunit">
      <img alt="Build status" src="https://travis-ci.org/facile-it/paraunit.svg" style="max-width:100%;">
    </a>
    <a href="https://ci.appveyor.com/project/Jean85/paraunit">
      <img alt="AppVeyor build status" src="https://ci.appveyor.com/api/projects/status/ohmhq2s762x3ixli/branch/master?svg=true" style="max-width:100%;">
    </a>
    <a href="https://codecov.io/gh/facile-it/paraunit">
      <img alt="Code coverage" src="https://codecov.io/gh/facile-it/paraunit/branch/master/graph/badge.svg" />
    </a>
  </p>
</div>

<div class="content">

  {{ range ( .Paginate (where .Data.Pages "Type" "news")).Pages }}
    {{ .Render "summary"}}
  {{ end }}

  {{ partial "pagination.html" . }}

</div>

{{ partial "footer.html" . }}
