language: php
sudo: false

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - hhvm
  - nightly
allow_failures:
  - php: nightly
  - php: hhvm
fast_finish: true

before_script:
  - /home/travis/build/facile-it/paraunit/.travis/
  - if [[ $TRAVIS_PHP_VERSION = '5.5' ]]; then PHPUNIT_FLAGS="--coverage-clover ./build/logs/clover.xml"; else PHPUNIT_FLAGS=""; fi
  - curl -s http://getcomposer.org/installer | php
  - php composer.phar install


script:
  - phpunit -v $PHPUNIT_FLAGS

after_script:
  - if [[ $TRAVIS_PHP_VERSION = '5.5' ]]; then php bin/coveralls -v; fi
