parameters:
	ignoreErrors:
		-
			message: '#^Call to function method_exists\(\) with ''PHPUnit\\\\Event\\\\Code\\\\TestMethod'' and ''fromTestCase'' will always evaluate to#'
			count: 1
			path: tests/BaseTestCase.php

		-
			message: '#^Call to function method_exists\(\) with ''PHPUnit\\\\Event\\\\Code\\\\Throwable'' and ''from'' will always evaluate to#'
			count: 1
			path: tests/BaseTestCase.php

		-
			message: '#^Call to function method_exists\(\) with ''PHPUnit\\\\Event\\\\Code\\\\IssueTrigger\\\\IssueTrigger'' and ''\w+'' will always evaluate to#'
			count: 2
			path: tests/Unit/Logs/TestHook/DeprecationTest.php

		-
			message: '#^Call to function method_exists\(\) with ''PHPUnit\\\\Framework\\\\Assert'' and ''assertContainsOnlyA…'' will always evaluate to#'
			count: 1
			path: tests/Unit/Logs/TestHook/DeprecationTest.php

		-
			message: '#^Class PHPUnit\\Event\\Test\\DeprecationTriggered constructor invoked with 8 parameters, 10 required\.$#'
			identifier: arguments.count
			count: 1
			path: tests/Unit/Logs/TestHook/DeprecationTest.php

		-
			message: '#^Call to function method_exists\(\) with ''PHPUnit\\\\Event\\\\Code\\\\IssueTrigger\\\\IssueTrigger'' and ''\w+'' will always evaluate to#'
			count: 2
			path: tests/Unit/Logs/TestHook/PhpDeprecationTest.php

		-
			message: '#^Class PHPUnit\\Event\\Test\\PhpDeprecationTriggered constructor invoked with 8 parameters, 9 required\.$#'
			identifier: arguments.count
			count: 1
			path: tests/Unit/Logs/TestHook/PhpDeprecationTest.php
