parameters:
    ignoreErrors:
        - '/does not call parent constructor from PHPUnit\\Util\\Printer/'
        - '/Call to function method_exists.. with .Tests..BaseTestCase. and .assertStringContain.... will always evaluate to false./'
        - '/Call to function method_exists.. with .Symfony..Component.. and .escapeArgument. will always evaluate to false./'
    excludes_analyse:
        - tests/Stub/ParseErrorTestStub.php
        - src/Lifecycle/ForwardCompatEventDispatcher.php
