parameters:
	ignoreErrors:
		-
			message: "#^Else branch is unreachable because previous condition is always true\\.$#"
			count: 1
			path: src/Configuration/DependencyInjection/ParallelContainerDefinition.php

		-
			message: "#^Call to an undefined method Symfony\\\\Component\\\\Process\\\\Process\\:\\:inheritEnvironmentVariables\\(\\)\\.$#"
			count: 1
			path: src/Process/ProcessFactory.php

