<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="vendor/autoload.php"
        >
    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="intl.default_locale" value="en"/>
        <ini name="intl.error_level" value="0"/>
        <ini name="memory_limit" value="-1"/>
    </php>

    <testsuites>
        <testsuite name="suite 1">
            <directory suffix="TestSuffix.php">./only/selected/test/suite/</directory>
        </testsuite>
        <testsuite name="suite 2">
            <directory>./other/test/suite/</directory>
        </testsuite>
    </testsuites>

</phpunit>
